html{
    scroll-behavior:smooth;
}

body{
    line-height:1.8;

    background:
    linear-gradient(
        rgba(0, 0, 1, 0.591),
        rgba(0, 0, 1, 0.591)
    ),
    url("obrazki_witcher/witcherfour.webp");

    background-size:cover;
    background-position:center;
    background-attachment:fixed;
}




header{
    height:200px;
    background:
    linear-gradient(
        rgba(0, 0, 1, 0.591),
        rgba(0, 0, 1, 0.591)
    ),

}
h1{

    font-family:'Cinzel Decorative';
    font-size:90px;
    color: rgb(255, 45, 45);

    justify-content:center;
    align-items:center;
    text-align:center;
}


/* TITLE */

p:not(footer p, header p, #ad p, #end){
    font-family:'Cinzel Decorative';
    color:hsl(214, 32%, 85%);
    font-size:28px;
    text-align:justify;
    text-align:center;
    padding: 0px 0px;
    margin-bottom: 90px;
    margin-left: 170px;
    margin-right: 170px;
}

#ad p{
    font-family:'Cinzel Decorative';
    color:hsl(214, 32%, 85%);
    font-size:20px;
    text-align:justify;
    text-align:center;
    padding: 50px 0px;
    
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 30px;


}

/* FOOTER */
footer{
    font-family:'Cinzel Decorative';
    color:white;
    font-size:18px;
    text-align:center;
    padding:30px;
    background:#2d0000;

    margin-top: 40px;
    margin-bottom: 0px;
    

}





.footer-nav{
    font-family:'Cinzel Decorative';
    font-size:20px;
    text-align:center;
    margin-bottom: 0px;
    margin-top: 30px;
}

.footer-nav a{
    font-family:'Cinzel Decorative';
    color:white;
    font-size:20px;
    text-decoration:none;
    margin:0px 0px;
    margin-left:20px;
    margin-right:20px;
    transition:0.3s;
}

.footer-nav a:hover{
    color:hsl(0, 100%, 68%);
    font-size:23px;
}

footer p{
    font-size: 15px;

}


#end{
    font-family: 'Cinzel Decorative';
    color: rgb(255, 68, 68);
    text-align: center;
    margin-top: 80px;

    
}


